<!doctype html>
<html lang="en">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- Here in bootstrap css the order is important -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="assets/vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet"
	href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" href="assets/libs/css/style.css">

<title>Password Manager</title>
<script type="text/javascript">
const getPass = () => {
	
	document.getElementById('div').innerHTML = document.getElementById('textField').value
	}

</script>
</head>

<body>
	<!-- start main wrapper -->
	<div class="dashboard-main-wrapper">
		<!-- start title -->
		<div class="dashboard-header">

			<nav class="navbar navbar-expand-lg bg-white fixed-top">
				<a class="navbar-brand" href="#"> <i class="fa fa-lock"
					aria-hidden="true"></i>
				</a> <a class="navbar-brand" href="#">Password Manager&nbsp</a>
			</nav>
		</div>

		<!--  -->

		<!-- <div class="dashboard-wrapper"> -->
		<div class="container-fluid dashboard-content">
			<form th:object="${wpmBean}" th:action="@{/passord-generated}" method="post" align="center">
				<div class="card" align="center">
					<div class="card-header" align="center">
						<h2>
							<p>Generate New Password</p>
						</h2>
					</div>
					<div class="card-body" align="center">
						<div class="form-group">
							<input class="form-control form-control-lg" type="text"
								id="textField" name="wname" required=""
								placeholder="Enter Website Name" autocomplete="off">
						</div>
						<div class="form-group pt-2">
							<h3>
								<div id="div"></div>
							</h3>
							<input type="submit" id="theButton" name="password"
								class="btn btn-block btn-primary"
								value="Generate
									Password">
									<!-- "th:onclick="|window.location.href='/passord-generated'|" -->
						</div>
						<!-- <button class="btn btn-space btn-primary" type="submit">Submit</button>
						<button class="btn btn-space btn-primary" type="cancel">Cancel</button> -->
					</div>
					<!-- </div> -->
			</form>
		</div>
	</div>
	</div>


	<!--  -->


	</div>

	<!-- end title -->

	</div>
	</div>
	<!-- end main wrapper  -->
</body>

</html>
