<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <title>Password Manager</title>
</head>

<body>
    <!-- start main wrapper -->
    <div class="dashboard-main-wrapper">
    <!-- start title -->
        <div class="dashboard-header">

            <nav class="navbar navbar-expand-lg bg-white fixed-top">
              <a class="navbar-brand" href="#">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </a>
                <a class="navbar-brand" href="#">Password Manager&nbsp</a>
            </nav>
        </div>
     <!-- end title -->
    
    </div>
    <!-- end main wrapper  -->
</body>

</html>
